
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">


@await Component.InvokeAsync("_HeadComponent")         @*VİEWCOMPONENT TANIMI*@

<body>
<div class="container-xxl bg-white p-0">

    <!-- Spinner Start -->
    @await Component.InvokeAsync("_SpinnerComponent") @*VİEWCOMPONENT TANIMI*@
    <!-- Spinner End -->

    <!-- Header Start -->
    @await Component.InvokeAsync("_NavbarComponent") @*VİEWCOMPONENT TANIMI*@
    <!-- Header End -->


    @await Component.InvokeAsync("_BookingCoverComponent") @*VİEWCOMPONENT TANIMI*@
       
@* 
    <!-- Booking Start -->
    @await Component.InvokeAsync("_ReservationComponent") @*VİEWCOMPONENT TANIMI
    <!-- Booking End --> *@
    

    @await Html.PartialAsync("/Views/Booking/AddBooking.cshtml")   @*Partialview TANIMI*@
    
    

    <!-- Newsletter Start -->
    @await Html.PartialAsync("/Views/Default/SubscribePartial.cshtml")   @*Partialview TANIMI*@
    <!-- Newsletter Start -->

    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterComponent") @*VİEWCOMPONENT TANIMI*@
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
@await Component.InvokeAsync("_ScriptsComponent") @*VİEWCOMPONENT TANIMI*@
</body>

</html>
